<div class="jumbotron">
  <h1>Management Portal</h1>
  <p class="center">Welcome to the Administrative Portal</p>
  <p class="center">
  <% if user_signed_in? %>
    <% if current_user.manager?  %>
      <%= link_to "View All Users", users_index_path, class: "btn btn-primary btn-lg", role: "button" %>
      <%= link_to "View All Tasks", tasks_path, class: "btn btn-primary btn-lg", role: "button" %>
      <%= link_to "Task Report", report_path, class: "btn btn-primary btn-lg", role: "button" %>
    <% else %>
      <%= link_to "My Tasks", tasks_assigned_path, class: "btn btn-primary btn-lg", role: "button" %>
    <% end %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button"%>
  <% end %>
  </p>
</div>
