<div class="panel panel-default">
  <div class="panel-heading">Tasks</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Assignee</th>
        <th>Actions</th>
        <th>Comments</th>
      </tr>
    </thead>
  
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.user.name %></td>
          <td>
            <%= link_to 'Show', task, class: "btn btn-default btn-sm" %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-default btn-sm"  %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"  %>
          </td>
          <td>
            <%= link_to 'View All', task_comments_path(task_id: task.id), class: "btn btn-default btn-sm", remote: true %>
            <%= link_to 'Add Comment', new_task_comment_path(task_id: task.id), class: "btn btn-default btn-sm", remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="modal fade" id="new_task_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Task Comment</h4>
      </div>
      <div class="modal-body" id="new_task_comment_body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="task_comments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Comments</h4>
      </div>
      <div class="modal-body" id="task_comment_body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
