<div class="panel panel-default">
  <div class="panel-heading">Tasks</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Assignee</th>
        <th>Actions</th>
        <th>Comments</th>
      </tr>
    </thead>
  
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.user.name %></td>
          <td>
            <%= link_to 'Show', task, remote: true, class: "btn btn-default btn-sm" %>
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-default btn-sm", remote: true if current_user.executive?  %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" if current_user.manager?  %>
          </td>
          <td>
            <%= link_to 'View All', task_comments_path(task_id: task.id), class: "btn btn-default btn-sm", remote: true %>
            <%= link_to 'Add Comment', new_task_comment_path(task_id: task.id), class: "btn btn-default btn-sm", remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= render partial: 'common/modal', locals: { id: 'new_task_comment', title: 'New Task Comment' }%>
<%= render partial: 'common/modal', locals: { id: 'task_comments', title: 'Comments' }%>
<%= render partial: 'common/modal', locals: { id: 'update_task_status', title: 'Update Task Status' }%>
<%= render partial: 'common/modal', locals: { id: 'show_task', title: 'Task Details' }%>
<%= render partial: 'common/modal', locals: { id: 'edit_task', title: 'Edit Task' }%>
