<%= form_for(@task_comment, remote: true) do |f| %>
  <div class="input-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
    <%= f.hidden_field :task_id %>
    <%= f.hidden_field :added_by_id %>
  <div class="actions">
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  </div>
<% end %>
